* {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  /* background-color: rgb(14, 14, 14); */
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0%;
  margin: 0%;
  background-color: rgb(14, 14, 14);
  height: 100%;
  min-height: calc(100vh - 211px - 58px);
  text-align: center;
  align-items: center;
}


/* ----------------------HOME PAGE---------------------- */
.menu-container-text{

  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30%;
}

.profile-photo{
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 30px;

}
.menu-container-text p{
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.contact-info-mobile{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: rgb(0, 132, 255);
  visibility: hidden;
  height: 0px;
  padding-bottom: 20%;
}
.contact-info-mobile p{
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 14px;
}
.contact-info-mobile a{
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
}
.contact-info-mobile li{
  text-decoration: none;
  list-style-type: none;
  padding: 8px;
}
.contact-info-mobile h2{
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 20px;
}
.contact-info-mobile h3{
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding-top: 15px;
}



/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/*  ----------------------HEADER AND FOOTER---------------------- */
.navigation {
  display: flex;
  background-color: rgb(237, 247, 246);
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  bottom: 0%;
}
.gallery-tab {
  display: flex;
}
.nav-list li {
  list-style: none;
  background-color: rgb(237, 247, 246);
}
.nav-list a:hover {
  transform: translateY(-5px);
  background-color: rgb(14, 14, 14);
  color: white;
}
.nav-list a {
  text-decoration: none;
  margin-left: 60px;
  color: rgb(241, 153, 83);
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
  transition: transform 250ms;
  background-color: rgb(237, 247, 246);
}
.nav-list p {
  color: rgb(241, 153, 83);
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: transform 250ms;
  background-color: rgb(237, 247, 246);
}

.nav-title {
  color: rgb(241, 153, 83);
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 50px;
  background-color: rgb(237, 247, 246);
}

/* MOBILE NAV */
.nav-mobile {
  overflow: hidden;
  background-color: rgb(0, 132, 255);
  position: relative;
  visibility: hidden;
  height: 0px;
}

.nav-mobile #myLinks {
  display: none;

}

.nav-mobile #nav-mobile-tab{
  background-color: rgb(0, 132, 255);
  font-weight: 500;
  font-size: 20px;
  
}

.nav-mobile a {
  color: rgb(237, 247, 246);
  font-family: 'Heebo', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 900;
  font-size: 27px;
  display: block;
}

.nav-mobile h2 {
  color: rgb(241, 153, 83);
  font-family: 'Heebo', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 900;
  font-size: 27px;
  display: block;
}

.nav-mobile a.icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url(image/icons/menu-icon.svg);
  background-size: cover;
  background-color: rgb(237, 247, 246);
}

.nav-mobile a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.active {
  background-color: rgb(237, 247, 246);
  color: white;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/*  ----------------------OTHER TEXT ITEMS---------------------- */
.quotes {
  width: 75%;
  margin: 5%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.quotes i {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}
/* ----------------------PROJECT CARDS---------------------- */
#card1 {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/027/974/109/large/lucas-van-hooidonk-4.jpg?1593111365");
}
#card2 {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/032/788/631/large/lucas-van-hooidonk-render2.jpg?1607468311");
}
#card3 {
  background-image: url("image/substance_banner.png");
}
#card4 {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/028/373/709/large/lucas-van-hooidonk-1.jpg?1594286762");
}
#card5 {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/054/888/936/large/lucas-van-hooidonk-the-orb.jpg?1665599713");
}
#card6 {
  background-image: url("image/graphic-design/everygraphic-logo.png");
}
#card7 {
  background-image: url("image/graphic-design-banner.JPG");
}
#card8 {
  background-image: url("image/graphic-design/dall-e/Dall-e1.png");
}

.project-card-banner {
  background-size: auto 100%;
  background-repeat: repeat;
  background-position: center top;
  width: 500px;
  height: 400px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  transition: all 0.2s ease-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#master-card:hover #card1 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;
}

#master-card:hover #card2 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #card3 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #card4 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #card5 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #card6 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #card7 {
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #card8{
  height: 420px;
  width: 520px;
  background-size: auto 110%;
  -webkit-filter: none;

}

#master-card:hover #txt-card {
  height: 200px;
  width: 520px;
  background-color: white;
}

.project-card {
  padding: 20px;
  display: flex;
  transition: all 0.2s ease-out;
}

.project-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 100px;
  background-color: rgb(0, 132, 255);
  transition: all 0.2s ease-out;
}

.project-card-title h2 {
  color: rgb(0, 0, 0);
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.project-card-title h3 {
  color: rgb(0, 0, 0);
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.hidden-text {
  visibility: hidden;
  overflow: hidden;
  font-size: 0px;
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typing {
  from {
    height: 0
  }

  to {
    height: 55%
  }
}

#master-card:hover #hidden-text {
  visibility: visible;
  font-size: 14px;
  margin: 15px;
  animation: typing .2s steps(20, end)
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/*  ----------------------PHOTOGRAPHY LIBRARY---------------------- */
.container-gallery {
  padding: 0%;
  margin: 0%;
  margin-bottom: 0px;
  background-color: rgb(14, 14, 14);
  min-height: calc(100vh - 211px - 58px);
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.column {
  -ms-flex: 20%;
  flex: 20%;
  max-width: fit-content;
}
.column img {
  vertical-align: middle;
  width: 100%;
  opacity: 100%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/* THE MONKEY CO */
.text-field {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #ffffff;
  justify-self: center;
  align-items: center;
  padding: 10%;
}
.text-field #tf-about{
  width: 50%;
  padding-left: 200px;
}
.text-field #tf-designs{
  width: 50%;
  padding-right: 200px;
}
.text-field img{
  width: 100%;
  height: auto;
}
.text-field p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 10px;
}
.text-field a {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
}
.text-field h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding: 10px;
}
.page-top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 1;
  background-image: url("image/tmc/banner.png");
  background-size: cover;
}
.page-top-banner img {
  width: 40%;
}
.text-field-img{
  width: 100%;
  height: 100%;
}
.text-field-img img{
  width: 120%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/*  ----------------------POPUP PC---------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14, 14, 14, 0.212);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(14, 14, 14);
  border-radius: 10px;
  width: 75%;
  position: relative;
  transition: all 1s ease-in-out;
  text-align: center;
}
.popup h2 {
  margin-top: 50px;
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 30px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-family: 'Heebo', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.popup .close:hover {
  color: #ff0000;
}
.popup .content {
  padding: 20px;
  position: flex;
  flex-direction: column;
  max-height: 20%;
  overflow: auto;
}
.popup .content img {
  width: 100%;
}
.popup .content p {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.popup .content ul {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
::-moz-selection {
  color: rgb(3, 3, 3);
  background: rgb(241, 153, 83);
}
::selection {
  color: rgb(3, 3, 3);
  background: rgb(241, 153, 83);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */



/*  ----------------------DESKTOP SCALES---------------------- */
@media screen and (max-width: 1235px) {
  .nav-list p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1010px) {
  .nav-list a {
    font-size: 12px;
  }
  .nav-list p {
    font-size: 12px;
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */



/*  ----------------------MOBILE VERSION---------------------- */
@media screen and (max-width: 420px) {
  .container{
    height: 500px;
    height: 100vh !important;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  /* ----------------------HOME PAGE MOBILE---------------------- */
  .profile-photo{
    width: 200px;
    height: 200px;
    border-radius:50%;
    padding-top: 0px;
  }
  .contact-info-mobile{
    visibility: visible;
    height: 320px;
  }
  /* -------------------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------NAVIGATION BAR MOBILE---------------------- */
  .navigation {
    visibility: hidden;
    height: 0px;
  }
  .menu-container-text p{
    font-size: 10px;
    text-align: center;
  }
  .menu-container-text{
    width: 100%;
  }
  .nav-list{
    height: 0px;
    visibility: hidden;
  }
  .nav-mobile{
    visibility: visible;
    height: 100%;
    z-index: 999;
    
  }
  #footer{
    visibility: hidden;
  }
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------THE MONKEY CO MOBILE---------------------- */

  .page-top-banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: cover;
  }
  .page-top-banner img {
    width: 50%;
  }
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/*  ----------------------PHOTOGRAPHY LIBRARY MOBILE---------------------- */
.container-gallery {
  padding: 0%;
  margin: 0%;
  margin-bottom: 0px;
  background-color: rgb(14, 14, 14);
  min-height: calc(100vh - 211px - 58px);

}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.column {
  -ms-flex: 50%;
  flex: 100%;
  max-width: fit-content;
}
.column img {
  vertical-align: middle;
  width: 100%;
  opacity: 100%;
}
#go-to-top {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.281);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


/*  ----------------------GAME ART MOBILE---------------------- */
.project-card{
  padding: 0px;

}
.project-card-banner{
  background-position: 100%;
}
#card6{
  background-position: left;
}
#card7{
  background-position: left;
}
#card8{
  background-position: left;
}
.project-card-title{
  width: 100%;
}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

